body {
    background-image: url('../images/raphael-andres-3cwvFD-YPtk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gradient-custom-2 {
    background: -webkit-linear-gradient(to right, #0e4675, #9ae1d3);
    background: linear-gradient(to right, #0e4675, #9ae1d3);
}
    
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
