body{padding-top:20px;
    background: linear-gradient(to top, #0e4675, #f9545b);
}

.register {
    margin-top: 50px;
}
.register-right {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.register-heading {
    font-size: 28px;
    font-weight: bold;
    color: #495057;
}
.form-group label {
    font-weight: bold;
    color: #6c757d;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.list-group-item {
    cursor: pointer;
}