body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #0e4675, #f9545b);
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.register {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-left {
    text-align: center;
    color: #fff;
    background-color: #0e4675;
    padding: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex: 1; /* Para que ocupe la mitad del contenedor */
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 50%;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.register-left p {
    margin-top: 10px;
    font-size: 16px;
}

.register-right {
    background: #f8f9fa;
    padding: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    flex: 1; /* Para que ocupe la otra mitad del contenedor */
}

.register-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #0e4675;
}

.register-form {
    padding: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

.btnRegister {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 1.5rem;
    padding: 10px 20px;
    background: #0e4675;
    color: #fff;
    font-weight: 600;
    width: 60%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnRegister:hover {
    background-color: #08334c;
}

.alert {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    .register-left, .register-right {
        padding: 15px;
        border-radius: 0;
        flex: 100%; /* En pantallas más pequeñas, ocupa todo el ancho */
    }

    .register-heading {
        font-size: 22px;
    }

    .btnRegister {
        width: 100%;
    }
}
